.classpath
!/.project
.project
.settings
target
test-output/
bin/
*.ipr
*.iws
*.orig
.idea/
.DS_Store
.idea
overlays/
pom.xml.versionsBackup
build.xml
*.log
rebel.xml
**/.checkstyle
*.log.gz
node_modules/
package.json
gruntfile.js
.gradle/
**/build/
**/MANIFEST.MF

classes/
*.gradle

**/gradle/*
**/gradlew
**/gradlew.bat

# binary files
*.class
**.classpath
**target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE related
.idea
./**/.idea
*.iml
./**/.iml

#fe related
login/public/angular.js