<div class="login-wrapper">
    <div class="login-notice">我们需要对您的身份进行验证</div>
    <div class="content panel panel-default">
        <form role="form">
            <div class="form-group">
                <div class="back-btn" ng-click="back()" id="back">
                    <img src="login/images/arrow_back_grey600_24dp.png" alt="back">
                </div>
                <div class="avatar-wrapper">
                    <img ng-src="{{Data.avatar}}" alt="avatar">
                </div>
                <div class="username-title" ng-bind="Data.username"></div>
            </div>
            <div id="switch-input" ng-show="Data.loginMethod==='email'">
                    <input type="password" class="form-control" ng-class="{'has-error':loginError}" placeholder="请输入您的密码" ng-model="password">
                <div class="form-group">
                    <button class="btn btn-success button-modify" ng-click="login()">登录</button>
                </div>
                <div class="form-group error-info"  ng-show="loginError">
                    您输入的密码不正确
                </div>
            </div>
            <div ng-show="Data.loginMethod==='phoneNumber'">
                <div class="form-group" id="checkNumber">
                    <input type="text" ng-model="pin" name="checkNum" placeholder="验证码">
                   <button class="btn btn-success" ng-disabled="checkBtnDisAbled" ng-click="getCheckNumber()" ng-bind="sendBtn"></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-success button-modify" ng-click="login()">登录</button>
                </div>
                <div class="form-group error-info"  ng-show="loginError">
                    您输入的验证码不正确
                </div>
            </div>
        </form>
        <form action="/cas/login" method="POST" id="realForm">
            <input name="username" value='{{Data.username}}' type="hidden">
            <input name="password" value='' type="hidden" id="password">
            <input type="hidden" name="lt" value="{{Data.lt}}"/>
            <input type="hidden" name="execution" value="{{Data.execution}}"/>
            <input type="hidden" name="_eventId" value="submit" />
        </form>
    </div>
</div>